<div class="client-administration-container d-flex flex-column justify-content-start flex-fill border main-card m-2">
  <div class="client-administration-header title-bar d-flex flex-row justify-content-start">
    <h1 class="text-bold px-3 my-2">Gestion des clients</h1>
  </div>
  <div class="d-flex flex-row justify-content-start p-2 m-sm-2">
    <button class="add-client-btn btn btn-simple text-bold p-2 mx-2" type="button" (click)="registerClient()">Ajouter
      client
    </button>
  </div>
  <div class="d-flex flex-column flex-fill overflow-auto p-2">
    <div class="client-filter-row text-bold secondary-bar p-3">
      <div class="client-label-1 d-flex justify-content-start flex-grow-1">Nom</div>
      <div class="client-label-2 d-flex justify-content-start flex-grow-1">Prénom</div>
      <div class="client-label-3 d-flex justify-content-start flex-grow-1">E-mail</div>
      <div class="client-label-4 d-flex justify-content-start flex-grow-1">Téléphone</div>
      <div class="client-label-5 d-flex justify-content-start flex-grow-1">Action</div>
    </div>
    <div class="client-filter-row p-3" style="box-shadow: 0 3px 2px #adacac;">
      <div class="client-label-1 filter-input">
        <input class="client_research_field" type="text" [(ngModel)]="selectedLastName"
               (input)="updateFilter()"/>
      </div>
      <div class="client-label-2 filter-input">
        <input class="client_research_field" type="text" [(ngModel)]="selectedFirstName"
               (input)="updateFilter()"/>
      </div>
      <div class="client-label-3 filter-input">
        <input class="client_research_field" type="text" [(ngModel)]="selectedEmail"
               (input)="updateFilter()"/>
      </div>
      <div class="client-label-4 filter-input">
        <input class="client_research_field" type="text" [(ngModel)]="selectPhone"
               (input)="updateFilter()"/>
      </div>
      <div class="client-label-5 filter-btn">
        <button type="button" class="btn btn-simple text-bold" (click)="cleanFilter()">
          Effacer
        </button>
      </div>
    </div>
    <div class="clients-tab d-flex flex-column flex-fill">
      <div class="client-filter-row client-edition-row clean-border-bottom p-3" (click)="editClient(client)"
           *ngFor="let client of foundClients">
        <div class="client-label-1 client-info-item">
          <strong class="client-item">{{client.lastName}}</strong></div>
        <div class="client-label-2 client-info-item">
          <strong class="client-item">{{client.firstName}}</strong></div>
        <div class="client-label-3 client-info-item">
          <strong class="client-item">{{client.email}}</strong></div>
        <div class="client-label-4 client-info-item">
          <strong class="client-item">{{client.phone}}</strong></div>
      </div>
    </div>
    <div class="page-selection p-2">
      <button class="btn text-bold" (click)="changePage(-1)">-</button>
      <input type="number" class="page-input" min="1" (input)="changePage(0)" [(ngModel)]="selectedPage"/>
      <button class="btn text-bold" (click)="changePage(1)">+</button>
    </div>
  </div>
</div>
