.client-administration-container {
  border-radius: 10px;
}

.client-administration-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.client-filter-row {
  display: grid;
  grid-template: 100% / 1fr 1fr 1fr 1fr 1fr;
}

.client-edition-row:hover {
  background-color: rgba(162, 193, 252, 0.66);
}

.client-edition-row:active {
  background-color: rgba(162, 193, 252, 0.87);
}

.filter-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.filter-all {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 1;
}

.filter-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.clients-tab {
  height: 150px;
  overflow: auto;
}

.client-info-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.client-item {
  color: black;
}

.client-edition-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.page-selection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-input {
  flex-shrink: 1;
  width: 30px;
  text-align: center;
}

input.page-input::-webkit-outer-spin-button,
input.page-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.page-input [type=number] {
  -moz-appearance: textfield;
}
