<div class="container align-self-center justify-content-center w-50 p-5">
  <div class="row justify-content-sm-center m-sm-auto">
    <img src="http://localhost:8080/images/logo-pure-therapie.png" class="col-sm-3 p-3" alt="PureTherapie logo"/>
  </div>
  <div class="row justify-content-sm-center m-sm-auto">
    <p class="col-sm-6 p-2">Bienvenue sur le site de prise de <strong>rendez-vous</strong> de Pure Therapie</p>
  </div>
  <div class="row justify-content-sm-center m-sm-auto">
    <button class="col-sm-3 btn btn-success p-2" (click)="alreadyClientClick()">Déjà client</button>
    <button class="offset-sm-1 col-sm-3 btn btn-primary p-2" (click)="newClientClick()">Nouveau client</button>
  </div>
</div>
