<div class="generic-card client-self-navigation-card m-4">
  <img src="assets/logo-pure-therapie.png" class="client-home-logo p-2" alt="PureTherapie logo"/>
  <p class="client-home-text">Bienvenue sur le site de prise de <strong>rendez-vous</strong> de Pure Therapie</p>
  <div class="client-home-choice">
    <button class="client-choice-btn btn btn-simple p-2" (click)="alreadyClientClick()">Déjà client</button>
    <button class="client-choice-btn btn btn-add p-2" (click)="newClientClick()">Nouveau client</button>
  </div>
</div>
