.all-appointments-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  overflow: overlay;
}

.appointment-row {
  flex-shrink: 1;

  display: grid;
  grid-template: 100% / 1fr 1fr 1fr 1fr 1fr 1fr;

  padding: 1%;

  border-bottom: 1px solid black;
}

.payment-field {
  display: flex;
  justify-content: flex-start;
}
