<div class="waiting-room-container m-2">
  <div class="waiting-room-header p-2">
    <h1 class="text-bold px-3 my-2">Salle d'attente</h1>
  </div>
  <h2 class="day-title text-bold p-2">Jour {{today}}</h2>
  <div class="waiting-room-body p-2">
    <div class="appointments-waiting-room-content p-2">
      <h3 class="appointment-client-title text-bold p-2">Clients avec rendez-vous</h3>
      <div class="technician-waiting-rooms p-2">
        <div class="tech-waiting-room m-3" *ngFor="let technician of allTechnicians">
          <h5
            class="technician-title text-bold p-2 m-0">{{technician.firstName}} {{technician.lastName.toUpperCase()}}</h5>
          <div class="waiting-client-list">
            <div class="waiting-client-card p-2" (click)="takeClient(wr)"
                 *ngFor="let wr of this.techWRMap.get(technician.idPerson)">
              <div class="appointment-item">
                <span class="text-bold item-title">Client:</span>
                <span>{{wr.appointment.client.firstName}} {{wr.appointment.client.lastName.toUpperCase()}}</span>
              </div>
              <div class="appointment-item">
                <span class="text-bold item-title">Arrivée:</span>
                <span>{{getOnlyTime(wr.appointment.clientArrival.arrivalDate)}}</span>
              </div>
              <div class="appointment-item">
                <span class="text-bold item-title">Passage:</span>
                <span>{{wr.appointment.time}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vip-waiting-room-content p-2">
      <h3 class="vip-waiting-room-title text-bold p-2">VIP</h3>
      <div class="vip-waiting-room">
        <div class="vip-card" *ngFor="let wr of this.techWRMap.get(-1)"
             (click)="takeClient(wr)">
          <div class="appointment-item">
            <span class="text-bold item-title">Client:</span>
            <span>{{wr.client.lastName.toUpperCase()}}</span>
          </div>
          <div class="appointment-item">
            <span class="text-bold item-title">Arrivée:</span>
            <span>{{getOnlyTime(wr.arrivalDate)}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
