.day-title {
  text-align: center;
  text-decoration: underline;
}

.waiting-room-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  border: 1px solid black;
  border-radius: 10px;
}

.waiting-room-header {
  display: flex;
  justify-content: flex-start;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.waiting-room-body {
  flex-grow: 1;
  display: grid;
  grid-template: 100% / 75% 25%;
}

.appointments-waiting-room-content {
  grid-area: 1 span 1 / 1 span 1;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.appointment-client-title {
  justify-self: center;
  align-self: center;
}

.technician-waiting-rooms {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  overflow: auto;
}

.tech-waiting-room {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.technician-title {
  flex-shrink: 1;
  text-align: center;
}

.waiting-client-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 150px;
  overflow: auto;
}

.waiting-client-card {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin-top: 3%;
}

.appointment-item {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
}

.item-title {
  flex-grow: 1;
  margin-right: 1.5%;
  text-overflow: ellipsis;
}

.vip-waiting-room-content {
  grid-area: 1 span 1 / 2 span 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.vip-waiting-room-title {
  justify-self: center;
  align-self: center;
}

.vip-waiting-room {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 150px;
  overflow: auto;
}

.vip-card {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
}

.vip-card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0
  50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;
}
