<div class="agenda-container d-flex flex-column  justify-content-start flex-fill border m-2">
  <div class="agenda-header d-flex flex-row justify-content-start">
    <h2 class="px-3 my-2">Gestion de l'agenda</h2>
  </div>
  <div class="d-flex justify-content-start p-2 m-2">
    <button class="add-appointment-btn btn btn-primary text-bold p-2 mx-2" type="button" (click)="createAppointment()">
      Créer un
      rendez-vous
    </button>
    <button class="register-client-btn btn btn-success text-bold p-2 mx-2" type="button" (click)="registerClient()">
      Enregistrer un client
    </button>
  </div>
  <div class="d-flex justify-content-start p-2 m-2">
    <label class="agenda-day-label mx-3" for="agenda-day">Jour: </label>
    <input type="date" name="agenda-day" id="agenda-day" (change)="dayChange()" [(ngModel)]="today"/>
  </div>
  <div class="calendar-container d-flex justify-content-around flex-fill border m-2 p-2 bg-secondary">
    <div class="d-flex flex-column justify-content-start flex-grow-1 mx-2 border"
         *ngFor="let technician of technicians">
      <div class="d-flex justify-content-center align-items-center bg-info">
        <h4 class="technician-agenda-title p-3">{{technician.firstName}} {{technician.lastName.toUpperCase()}}</h4>
      </div>
      <div class="technician-agenda flex-fill d-flex justify-content-start bg-danger">
        <div class="times flex-shrink-1 d-flex flex-column justify-content-start">
          <span class="text-bold flex-grow-1"
                *ngFor="let ts of technicianTimeSlotMap.get(technician.idPerson)">
            {{ts.begin}}
          </span>
        </div>
        <div class="time-slots flex-grow-1 d-flex flex-column justify-content-start">
          <div class="technician-ts"
               *ngFor="let ts of technicianTimeSlotMap.get(technician.idPerson)">
            <div class="appointment-client-container text-bold"
                 [class.ts-free]="ts.free"
                 [class.ts-occupied]="!ts.free"
                 (click)="ts.free ? clickOnFreeTS(technician, ts.day, ts.begin) : clickOnOccupiedTS(ts.appointment)">
              <span class="client-identification"
                    *ngIf="!ts.free && ts.appointment != null">{{extractClientIdentification(ts)}}</span>
              <span style="visibility: hidden"></span>
              <span style="visibility: hidden" *ngIf="ts.free || ts.appointment == null"></span>
            </div>
            <div class="ts-cache" *ngIf="timeSlotPassed(ts)">
              <span style="visibility: hidden"></span>
              <span style="visibility: hidden"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
