<div class="agenda-container main-card border m-2">
  <div class="agenda-header title-bar">
    <h1 class="px-3 my-2">Agenda</h1>
  </div>
  <div class="agenda-all-btn p-2">
    <button class="add-appointment-btn btn btn-simple text-bold" type="button" (click)="createAppointment()">
      Créer un
      rendez-vous
    </button>
    <button class="register-client-btn btn btn-simple text-bold" type="button" (click)="registerClient()">
      Enregistrer un client
    </button>
    <button class="register-client-btn btn btn-cancel text-bold" type="button" (click)="surbooking()">
      Surbooking
    </button>
  </div>
  <div class="agenda-view-mode p-2">
    <div class="agenda-select-view">
      <label for="agenda-view-selection" class="text-bold">Vue de l'agenda:</label>
      <select id="agenda-view-selection" name="agenda-view-selection" [(ngModel)]="agendaView">
        <option value="1">Par techniciennes</option>
        <option value="2">Par semaines</option>
        <option value="3">Par mois</option>
      </select>
    </div>
  </div>
  <div class="choose-date-content">
    <div class="agenda-day-selection-input p-2">
      <label class="agenda-day-label" for="agenda-day">Jour: </label>
      <input type="date" name="agenda-day" id="agenda-day" [(ngModel)]="today"/>
    </div>
    <div class="chose-date-content">
      <app-agenda-choose-date [chosenDay]="today" (dayChangeEvent)="dayChange($event)"
                              style="width: 15%;"></app-agenda-choose-date>
    </div>
  </div>
  <div class="agenda-content p-2">
    <app-agenda-per-technician [today]="today" class="agenda-per-tech generic-card"
                               *ngIf="agendaView == 1"></app-agenda-per-technician>
    <app-agenda-per-week *ngIf="agendaView == 2" class="agenda-per-week generic-card"></app-agenda-per-week>
  </div>
</div>
