.agenda-container {
  border-radius: 10px;
}

.agenda-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 1px 2px black;
  background-color: #2dadf1;
}

.add-appointment-btn {
  font-weight: bold;
}

.technician-agenda-title {
  font-weight: bold;
  line-height: 0;
}

.agenda-day-label {
  font-weight: bold;
}

.choose-date-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.technician-ts {
  flex-grow: 1;
  border-bottom: 1px solid black;
  display: grid;
  grid-template: 100% / 100%;
}

.technician-ts:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
}

.ts-occupied {
  background-color: #da6817;
}

.ts-occupied:hover {
  background-color: rgba(218, 23, 29, 0.34);
}

.ts-free {
  background-color: #61d910;
}

.ts-free:hover {
  background-color: rgba(16, 103, 217, 0.34);
}

.appointment-client-container {
  grid-area: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-identification {
  line-height: 0;
}

.ts-cache {
  grid-area: 1 / 1;
  background-color: rgba(0, 0, 0, 0.3);
}
