.agenda-container {
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  border-radius: 10px;
}

.agenda-header {
  flex: 0 1 auto;

  display: flex;
  justify-content: flex-start;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.agenda-all-btn {
  flex: 0 1 auto;

  display: flex;
  justify-content: flex-start;
  gap: 13px;
}

.add-appointment-btn {
  font-weight: bold;
}

.agenda-day-label {
  font-weight: bold;
}

.agenda-view-mode, .agenda-select-view {
  flex: 0 1 auto;

  display: flex;
  justify-content: flex-start;
}

.agenda-select-view {
  gap: 15px;
}

.choose-date-content {
  flex: 0 1 auto;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.agenda-day-selection-input {
  flex: 0 1 auto;
  position: absolute;

  display: flex;
  justify-content: flex-start;
  gap: 13px;
}

.chose-date-content {
  flex: 1 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.agenda-content {
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.agenda-per-tech, .agenda-per-week {
  flex: 1 0 auto;

  align-self: stretch;
}
