<div class="agenda-container d-flex flex-column  justify-content-start flex-fill border m-2">
  <div class="agenda-header d-flex flex-row justify-content-start">
    <h1 class="px-3 my-2 text-bold">Gestion de l'agenda</h1>
  </div>
  <div class="d-flex justify-content-start p-2 m-2">
    <button class="add-appointment-btn btn btn-primary text-bold p-2 mx-2" type="button" (click)="createAppointment()">
      Créer un
      rendez-vous
    </button>
    <button class="register-client-btn btn btn-success text-bold p-2 mx-2" type="button" (click)="registerClient()">
      Enregistrer un client
    </button>
  </div>
  <app-agenda-choose-date [chosenDay]="today" (dayChangeEvent)="dayChange($event)"
                          class="align-self-center"></app-agenda-choose-date>
  <app-agenda-per-technician [today]="today" class="flex-grow-1 p-2"></app-agenda-per-technician>
</div>
