<div class="notification-tab-container">
  <div class="tab-header clean-border-bottom p-2">
    <div class="tab-header-cell">
      <span class="text-bold">Titre</span>
    </div>
    <div class="tab-header-cell">
      <span class="text-bold">Text</span>
    </div>
    <div class="tab-header-cell">
      <span class="text-bold">Date de création</span>
    </div>
  </div>
  <div class="tab-rows">
    <app-historical-tab-row class="clean-border-bottom" [historicalView]="historicalView"
                              (historicalUpdated)="notificationUpdated()"
                              *ngFor="let historicalView of historicalViews"></app-historical-tab-row>
  </div>
</div>
