<div class="d-flex justify-content-center">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <h3 style="text-align: center">Enregistrement client</h3>
    <div>
      <div class="form-group mb-3">
        <label for="lastName" class="form-label">
          Nom:
        </label>
        <input type="text" id="lastName" name="lastName" class="form-control" [ngModel]=""/>
        <label for="firstName" class="form-label">
          Prénom
        </label>
        <input type="text" id="firstName" name="firstName" class="form-control" [ngModel]=""/>
      </div>
      <div class="form-group mb-3">
        <label for="email" class="form-label">
          E-mail
        </label>
        <input type="email" id="email" name="email" class="form-control" [ngModel]=""/>
      </div>
      <div class="form-group  mb-3">
        <label for="gender" class="form-label">
          Genre:
        </label>
        <select class="form-select" id="gender" name="gender" [ngModel]="">
          <option value="male">Homme</option>
          <option value="female">Femme</option>
        </select>
      </div>
      <div class="form-group  mb-3">
        <label for="phone" class="form-label">
          Telephone: (+33)
        </label>
        <input type="tel" id="phone" name="phone" class="form-control" [ngModel]=""/>
      </div>
      <div class="form-group mb-3">
        <label for="birthday" class="form-label">
          Date de naissance
        </label>
        <input type="date" id="birthday" name="birthday" class="form-control" [ngModel]=""/>
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="origin">Comment avez-vous connue PureTherapie?</label>
      <select class="form-select" id="origin" name="origin" [ngModel]="personOrigins[0]">
        <option *ngFor="let origin of personOrigins" [ngValue]="origin">{{origin.type}}</option>
      </select>
    </div>
    <div class="d-flex justify-content-center">
      <button class="btn btn-primary mt-sm-3" type="submit">Connexion</button>
    </div>
  </form>
</div>
