<div class="tab-row-container p-2" (click)="onClick()">
  <div class="tab-row-cell">
    <span class="text-bold"
          [class.alter-title]="notificationView.notification.type">
      {{notificationView.notification.notificationTitle}}
    </span>
  </div>
  <div class="tab-row-cell">
    <span style="text-overflow: '-'">{{notificationView.notification.text}}</span>
  </div>
  <div class="tab-row-cell">
    <span>{{formatDateTime(notificationView.notification.creationDate)}}</span>
  </div>
</div>
