.client-self-navigation-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  height: 82%;
  width: 95%;
}

@media screen and (min-width: 680px) {
  .client-self-navigation-card {
    max-width: 550px;
  }
}
