<form class="client-edition-form p-2" (ngSubmit)="updateChange()">
  <h3 class="client-information-title">Information client</h3>
  <div class="client-edition-information-row">
    <div class="client-input-container">
      <label for="lastName" class="client-edition-information-label">Nom:</label>
      <input type="text" name="lastName"
             id="lastName"
             class="client-edition-information-input"
             [(ngModel)]="client.lastName"/>
    </div>
    <div class="client-input-container">
      <label for="firstName" class="client-edition-information-label">Prénom:</label>
      <input type="text" name="firstName"
             id="firstName"
             class="client-edition-information-input"
             [(ngModel)]="client.firstName"/>
    </div>
  </div>
  <div class="client-edition-information-row">
    <div class="client-input-container">
      <label for="gender" class="client-edition-information-label">Genre: </label>
      <select class="client-edition-information-input" id="gender" name="gender" [(ngModel)]="client.gender">
        <option [value]="true">Homme</option>
        <option [value]="false">Femme</option>
      </select>
    </div>
  </div>
  <div class="client-edition-information-row">
    <div class="client-input-container">
      <label for="phone" class="client-edition-information-label">+33
        <strong style="color: red" *ngIf="wrongPhoneNumber()">(defaut)</strong>
      </label>
      <input type="tel" size="10" minlength="10" maxlength="10" name="phone" id="phone"
             class="client-edition-information-input"
             [(ngModel)]="client.phone"/>
    </div>
    <div class="client-input-container">
      <label for="email" class="client-edition-information-label">E-mail: </label>
      <input type="email" name="email" id="email" class="client-edition-information-input"
             [(ngModel)]="client.email"/>
    </div>
  </div>
  <div class="client-edition-information-row">
    <div class="client-input-container">
      <label for="absence" class="client-edition-information-label">Absence:</label>
      <input type="number" name="absence"
             id="absence" [disabled]="true"
             class="client-edition-information-input" [value]="clientAbsenceDelay.nbAbsence"/>
    </div>
    <div class="client-input-container">
      <label for="delay" class="client-edition-information-label">Retard:</label>
      <input type="number" name="delay"
             id="delay" [disabled]="true"
             class="client-edition-information-input " [value]="clientAbsenceDelay.nbDelay"/>
    </div>
  </div>
  <div class="client-edition-information-row">
    <div class="client-input-container">
      <label for="first-appointment" class="client-edition-information-label">1er RDV:</label>
      <input type="date" name="first-appointment"
             id="first-appointment" [disabled]="true"
             class="client-edition-information-input" [value]="clientBasicAppointment.firstAppointment.day"/>
    </div>
    <div class="client-input-container">
      <label for="last-appointment" class="client-edition-information-label">Dernier RDV:</label>
      <input type="date" name="last-appointment"
             id="last-appointment" [disabled]="true"
             class="client-edition-information-input" [value]="clientBasicAppointment.lastAppointment.day"/>
    </div>
  </div>
  <div class="client-edition-information-row">
    <div class="client-input-container">
      <label for="remaining-pay" class="client-edition-information-label">Reste à payer:</label>
      <input type="number" name="remaining-pay"
             id="remaining-pay" [disabled]="true"
             class="client-edition-information-input" [value]="clientRemainingStock.remainingToPay"/>
    </div>
    <div class="client-input-container">
      <label for="stock" class="client-edition-information-label">Stock:</label>
      <input type="number" name="stock"
             id="stock" [disabled]="true"
             class="client-edition-information-input " [value]="clientRemainingStock.remainingStock"/>
    </div>
  </div>
  <div class="client-edition-information-row">
    <div class="client-input-container">
      <label for="comment" class="client-edition-information-label">Commentaire: </label>
      <textarea type="text" name="comment" id="comment" class="client-edition-information-input" rows="3"
                maxlength="50" style="resize: none;"
                [(ngModel)]="client.comment"></textarea>
    </div>
  </div>
  <div class="client-edition-information-row">
    <div class="client-input-container">
      <label for="technical-comment" class="client-edition-information-label">Commentaire technique: </label>
      <textarea type="textarea" name="technical-comment" id="technical-comment" rows="3"
                maxlength="50" style="resize: none;"
                class="client-edition-information-input" [(ngModel)]="client.technicalComment"></textarea>
    </div>
  </div>
  <div class="d-flex justify-content-around align-items-center">
    <button type="button" class="btn btn-simple" (click)="displayClientCard()">Afficher les fiches client</button>
    <button type="submit" class="btn btn-validation">Mettre à jour</button>
  </div>
</form>
