.client-edition-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}

.client-information-title {
  color: #000000;
  text-decoration: underline;
  font-weight: bold;
}

.client-edition-information-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.client-input-container {
  flex-grow: 1;

  display: flex;
  justify-content: flex-start;
  align-self: center;

  gap: 5px;
}

.client-edition-information-label {
  flex-shrink: 1;
  font-weight: bold;
}

.client-edition-information-input {
  flex-grow: 1;
}

.margin-separator-right {
  margin-right: 2%;
}
