.global-times-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.global-opening-day-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.global-times {
  display: flex;
  justify-content: flex-start;
}

.btn-submit {
  justify-self: center;
  align-self: center;
}
