.per-tech-agenda-container {
  flex: 1 0 150px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.agenda-row {
  display: grid;
}

.agenda-content {
  flex: 1 0 150px;

  display: grid;

  overflow: overlay;
}

.agenda-technician-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ts-technician {
  height: 100%;
}

.ts-time {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ts-time-text {
  font-weight: bold;
  text-align: center;
}

.ts-appointment {
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.ts-cache {
  position: relative;
  z-index: 2;
  top: -100%;
  left: 0;
  height: 100%;
}
