<div class="agenda-header agenda-row card-top-left-radius card-top-right-radius clean-border-bottom"
     [style.grid-template-columns]="agendaRowColumn">
  <div class="offset-div technician-name-title agenda-row card-top-left-radius clean-border-right"></div>
  <div class="agenda-technician-title technician-name-title clean-border-right"
       [class.card-top-right-radius]="allTechnicians.indexOf(technician) == allTechnicians.length -1"
       *ngFor="let technician of allTechnicians">
    <span class="technician-identifier">{{formatPersonSimpleIdentifier(technician)}}</span>
  </div>
</div>
<div class="agenda-content" [style.grid-template]="agendaContentGrid">
  <div class="agenda-row ts-line" [style.grid-template-columns]="agendaRowColumn"
       *ngFor="let ts of allTS">
    <div class="ts-time ts-time-title clean-border-right clean-border-dashed-bottom">
      <span class="ts-time-text">{{ts.begin}}</span>
    </div>
    <div class="ts-technician clean-border-right clean-border-dashed-bottom" *ngFor="let technician of allTechnicians">
      <div class="ts ts-appointment p-1"
           [class.ts-free]="tsIsFree(technician.idPerson, ts.begin)"
           [class.ts-new-client]="tsNewClient(technician.idPerson, ts.begin)"
           [class.ts-old-client]="!tsNewClient(technician.idPerson, ts.begin)"
           [class.ts-waiting-finalization]="!clientNotWaitingFinalization(technician.idPerson, ts.begin)"
           (click)="clickOnTs(technician, ts.begin)">
        <span class="ts-text"
              *ngIf="!getTechnicianTs(technician.idPerson, ts.begin).free">{{getTechnicianTs(technician.idPerson, ts.begin).begin}}</span>
        <span class="ts-text"
              *ngIf="!getTechnicianTs(technician.idPerson, ts.begin).free && getTechnicianTs(technician.idPerson, ts.begin).appointment != null">{{extractClientIdentification(getTechnicianTs(technician.idPerson, ts.begin))}}</span>
      </div>
      <div class="ts ts-cache"
           *ngIf="timeSlotPassed(getTechnicianTs(technician.idPerson, ts.begin)) && getTechnicianTs(technician.idPerson, ts.begin).free"></div>
    </div>
  </div>
</div>
