<div class="product-purchase-container d-flex flex-column justify-content-start flex-fill border m-2">
  <div class="product-purchase-header d-flex justify-content-start">
    <h1 class="text-bold px-3 my-2">Ventes de produits aux clients</h1>
  </div>
  <div class="product-purchase-body">
    <div class="product-purchase-tab-header">
      <h4 class="product-purchase-tab p-2 m-0" (click)="changeTab('packages')">Packages</h4>
      <h4 class="product-purchase-tab p-2 m-0" (click)="changeTab('ac')">Soins ésthétiques</h4>
    </div>
    <div id="packages" class="product-purchase-tab-content justify-content-start flex-column flex-fill"
         style="display: flex">
      <h4 class="p-2 my-2">Packages</h4>
      <div class="product-purchase-grid-container flex-fill m-3 border">
        <div class="product-purchase-package-grid-header flex-shrink-1">
          <div
            class="product-p-item-title-name d-flex justify-content-start align-items-center">
            <h5 class="my-0" style="margin-left: 1%">Nom</h5>
          </div>
          <div
            class="product-p-item-title-price d-flex justify-content-start align-items-center">
            <h5 class="my-0">Prix</h5>
          </div>
          <div
            class="product-p-item-title-purchase d-flex justify-content-start align-items-center">
            <h5 class="my-0">Vente</h5>
          </div>
        </div>
        <div class="product-purchase-grid-body">
          <div class="product-purchase-grid-package" *ngFor="let bundle of bundles">
            <div class="d-flex justify-content-start align-items-center product-package-name">
              <h5 class="my-0" style="margin-left: 1%">{{bundle.name}}</h5>
            </div>
            <div class="d-flex justify-content-start align-items-center product-package-price">
              <h5 class="my-0">{{bundle.price}} €</h5>
            </div>
            <div class="d-flex justify-content-start align-items-center product-package-purchase">
              <button class="btn btn-primary m-2" (click)="purchaseBundle(bundle)">Vendre</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="ac" class="product-purchase-tab-content justify-content-start flex-column flex-fill" style="display: none">
      <h4 class="p-2 my-2">Soins ésthétiques</h4>
      <div class="product-purchase-grid-container flex-fill m-3 border">
        <div class="product-purchase-ac-grid-header flex-shrink-1">
          <div
            class="product-ac-item-title-name d-flex justify-content-start align-items-center">
            <h5 class="my-0" style="margin-left: 1%">Nom</h5>
          </div>
          <div
            class="product-ac-item-title-price d-flex justify-content-start align-items-center">
            <h5 class="my-0">Prix</h5>
          </div>
          <div
            class="product-ac-item-title-time d-flex justify-content-start align-items-center">
            <h5 class="my-0">Temps d'execution</h5>
          </div>
          <div
            class="product-ac-item-title-purchase d-flex justify-content-start align-items-center">
            <h5 class="my-0">Vente</h5>
          </div>
        </div>
        <div class="product-purchase-grid-body">
          <div class="product-purchase-grid-ac" *ngFor="let ac of aestheticCares">
            <div class="d-flex justify-content-start align-items-center product-ac-name">
              <h5 class="my-0" style="margin-left: 1%">{{ac.name}}</h5>
            </div>
            <div class="d-flex justify-content-start align-items-center product-ac-price">
              <h5 class="my-0">{{ac.price}} €</h5>
            </div>
            <div class="d-flex justify-content-start align-items-center product-ac-time-execution">
              <h5 class="my-0">{{ac.timeExecution}} min</h5>
            </div>
            <div class="d-flex justify-content-start align-items-center product-ac-purchase">
              <button class="btn btn-primary m-2" (click)="purchaseAestheticCare(ac)">Vendre</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
