<div class="init-password-container">
  <div class="init-password-content generic-card p-3">
    <h2>Nouveau mot de passe pour l'utilisateur
      <strong style="color: red">{{username ? username : ''}}</strong></h2>
    <form class="init-password-form" (ngSubmit)="submitPassword()">
      <p style="color: red" *ngIf="sendReset && !success">Le renouvellement du mot de passe n'a pas fonctionné</p>
      <div class="success-content" *ngIf="sendReset && success">
        <p style="color: green">Le nouveau mot de passe a été pris en compte</p>
        <a routerLink="/login" class="btn btn-add">Retour à la page login</a>
      </div>
      <p style="color: red" *ngIf="notIdentical">Les mots de passes ne sont pas identiques</p>
      <div class="input-row">
        <label class="text-bold" for="new-password">Nouveau mot de passe:</label>
        <input type="password" id="new-password" name="new-password" class="form-control"
               [(ngModel)]="newPassword"/>
      </div>
      <div class="input-row">
        <label class="text-bold" for="new-password-confirm">Confirmer nouveau mot de passe:</label>
        <input type="password" id="new-password-confirm" name="new-password-confirm" class="form-control"
               [(ngModel)]="newPasswordConfirm"/>
      </div>
      <div class="submit-form">
        <button type="submit" class="btn btn-simple">Valider</button>
      </div>
    </form>
  </div>
</div>
