<div class="opening-container d-flex flex-column  justify-content-start flex-fill border m-2">
  <div class="opening-header d-flex flex-row justify-content-start">
    <h1 class="px-3 my-2 text-bold">Gestion des horaires d'ouvertures et de fermeture</h1>
  </div>
  <div class="opening-body mt-5">
    <div class="global-opening-column opening-column p-3">
      <h3 class="opening-column-title">Ouvertures gloables:</h3>
      <div class="opening-content">
        <div class="opening-row">

        </div>
      </div>
    </div>
    <div class="exceptional-opening opening-column p-3">
      <h3 class="opening-column-title">Ouvertures exceptionnelles:</h3>
      <div class="opening-content">
        <div class="opening-row">

        </div>
      </div>
    </div>
    <div class="exceptional-close opening-column p-3">
      <h3 class="opening-column-title">Fermetures exceptionnelles:</h3>
      <div class="opening-content">
        <div class="opening-row">

        </div>
      </div>
    </div>
  </div>
</div>
