<div class="opening-container d-flex flex-column  justify-content-start flex-fill border m-2 main-card">
  <div class="opening-header d-flex flex-row justify-content-start title-bar">
    <h1 class="px-3 my-2 text-bold">Gestion des horaires d'ouvertures et de fermeture</h1>
  </div>
  <div class="opening-body mt-5">
    <div class="global-opening-column opening-column p-3">
      <h3 class="opening-column-title">Ouvertures globales:</h3>
      <div class="opening-content generic-card">
        <div class="grid-row border-bottom-separator" *ngFor="let globalOpening of globalOpeningsTimes">
          <span class="day-title">{{getDay(globalOpening.day)}}</span>
          <span class="times">De {{globalOpening.openingTime}} à {{globalOpening.closeTime}}</span>
          <div class="btn-container">
            <button class="btn-edition btn btn-simple my-1" (click)="updateGlobalOpeningTime(globalOpening)">
              Editer
            </button>
            <button class="btn-edition btn btn-cancel my-1" (click)="deleteGlobalOpeningTime(globalOpening)">
              Supprimer
            </button>
          </div>
        </div>
        <div class="grid-row">
          <button class="add-global-opening-btn btn btn-add" (click)="addGlobalOpeningTime()">
            Ajouter
          </button>
        </div>
      </div>
    </div>
    <div class="exceptional-opening opening-column p-3">
      <h3 class="opening-column-title">Ouvertures exceptionnelles:</h3>
      <div class="opening-content generic-card">
        <div class="grid-row border-bottom-separator " *ngFor="let exceptionalOpening of exceptionalOpenings">
          <span class="day-title">{{exceptionalOpening.day}}:</span>
          <span class="times">De {{exceptionalOpening.openingTime}} à {{exceptionalOpening.closeTime}}</span>
          <div class="btn-container">
            <button class="btn-edition btn btn-simple my-1" (click)="updateExceptionalOpening(exceptionalOpening)">
              Editer
            </button>
            <button class="btn-edition btn btn-cancel my-1" (click)="deleteExceptionalOpeningTime(exceptionalOpening)">
              Supprimer
            </button>
          </div>
        </div>
        <div class="grid-row">
          <button class="add-global-opening-btn btn btn-add" (click)="addExceptionalOpening()">
            Ajouter
          </button>
        </div>
      </div>
    </div>
    <div class="exceptional-close opening-column p-3">
      <h3 class="opening-column-title">Fermetures exceptionnelles:</h3>
      <div class="opening-content generic-card">
        <div class="grid-row border-bottom-separator" *ngFor="let exceptionalClose of exceptionalClosings">
          <span class="text-bold">Date:</span>
          <span class="exceptional-closing-date">{{exceptionalClose.day}}</span>
          <button class="btn-edition btn btn-cancel my-1" (click)="deleteExceptionalClose(exceptionalClose)">
            Supprimer
          </button>
        </div>
        <div class="grid-row">
          <button class="add-global-opening-btn btn btn-add" (click)="addExceptionalClose()">
            Ajouter
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
