<div class="modal-content">
  <div class="modal-header title-bar">
    <h2 class="modal-title">{{title}}</h2>
    <button type="button" class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <p [innerHTML]="text"></p>
  </div>
  <div class="modal-footer d-flex justify-content-end">
    <button type="button" class="btn btn-validation text-bold" (click)="confirmation()">Confirmer</button>
    <button type="button" class="btn btn-secondary" (click)="close()">Fermer</button>
  </div>
</div>
