<div class="modal-content">
  <div class="modal-header">
    <h2 class="modal-title success-title">{{title}}</h2>
    <button type="button" class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <p>{{text}}</p>
  </div>
  <div class="modal-footer d-flex justify-content-end">
    <button type="button" class="btn btn-primary" (click)="confirmation()">Confirmer</button>
    <button type="button" class="btn btn-secondary" (click)="close()">Fermer</button>
  </div>
</div>
