.ac-purchase-name {
  grid-area: 1 span 1 / 1 span 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ac-purchase-used {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ac-purchase-purchase-date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ac-purchase-remaining-balance {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ac-purchase-button {
  grid-column: 5 / span 1;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
