.current-day {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.calendar-icon:hover {
  cursor: pointer;
}

.change-day {
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-day {
  cursor: pointer;
}
