<!-- Sidebar -->
<div id="sidebar" class="d-flex flex-column flex-shrink-0 h-100 p-3 bg-dark">
  <div class="sidebar-header">
    <a routerLink="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <img src="http://localhost:8080/images/logo-pure-therapie.png" alt="PureTherapie logo"/>
      <span>PureTherapie</span>
    </a>
  </div>

  <hr>

  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="#" class="nav-link text-white" routerLinkActive="active">
        Home
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="#" class="nav-link text-white" routerLinkActive="active">
        Agenda
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="#" class="nav-link text-white" routerLinkActive="active">
        Clients
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="#" class="nav-link text-white" routerLinkActive="active">
        Techniciens
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="#" class="nav-link text-white" routerLinkActive="active">
        Produits
      </a>
    </li>
  </ul>

  <hr>

  <div class="dropdown text-white text-decoration-non container">
    <div class="row">
      <span class="col-sm-10">{{username()}}</span>
      <span class="material-icons col-sm-2" (click)="logout()">logout</span>
    </div>
  </div>
</div>

<!-- Page Content -->
<div id="content" class="d-flex flex-column flex-grow-1 p-3">
    <router-outlet></router-outlet>
</div>

