<!-- Sidebar -->
<div id="sidebar" class="header-side-bar d-flex flex-column flex-shrink-0 h-100 p-3"
     *ngIf="isAuthenticated()">
  <div class="sidebar-header">
    <a routerLink="/"
       class="d-flex flex-column align-items-start text-white text-decoration-none">
      <img class="mb-sm-3" src="assets/logo-pure-therapie.png" alt="PureTherapie logo"/>
      <h3 class="text-black"><strong>PureTherapie</strong></h3>
    </a>
  </div>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="agenda" class="nav-link d-flex justify-content-start align-items-center text-black"
         routerLinkActive="active">
        <span class="material-icons mx-2">calendar_month</span>
        <strong>Agenda</strong>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="waiting_room" class="nav-link text-black d-flex justify-content-start align-items-center"
         routerLinkActive="active">
        <span class="material-icons mx-2">chair</span>
        <strong>Salle d'attente</strong>
      </a>
    </li>
    <li class="nav-item ">
      <a routerLink="product-purchase" class="nav-link d-flex justify-content-start align-items-center text-black"
         routerLinkActive="active">
        <span class="material-icons mx-2">shopping_cart</span>
        <strong>Ventes</strong>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="administration/clients" class="nav-link text-black d-flex justify-content-start align-items-center"
         routerLinkActive="active">
        <span class="material-icons mx-2">supervisor_account</span>
        <strong>Clients</strong>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="administration/products" class="nav-link text-black d-flex justify-content-start align-items-center"
         routerLinkActive="active">
        <span class="material-icons mx-2">spa</span>
        <strong>Packages et soins</strong>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="administration/technicians" class="nav-link d-flex justify-content-start align-items-center text-black"
         routerLinkActive="active">
        <span class="material-icons mx-2">manage_accounts</span>
        <strong>Techniciens</strong>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="opening" class="nav-link text-black d-flex justify-content-start align-items-center"
         routerLinkActive="active">
        <span class="material-icons mx-2">more_time</span>
        <strong>Date ouvertures</strong>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="notifications" class="nav-link text-black d-flex justify-content-start align-items-center"
         routerLinkActive="active">
            <span class="material-icons mx-2">notifications_active</span>
        <strong>Notifications</strong>
      </a>
    </li>
    <li class="nav-item" *ngIf="!isAuthenticated()">
      <a routerLink="login" class="nav-link d-flex justify-content-start align-items-center text-black"
         routerLinkActive="active">
        <span class="material-icons mx-2">login</span>
        <strong>Se connecter</strong>
      </a>
    </li>
  </ul>

  <hr>

  <div class="dropdown text-white text-decoration-non container">
    <div class="row">
      <span class="col-sm-10 text-black">{{username()}}</span>
      <span class="material-icons" (click)="logout()">logout</span>
    </div>
  </div>
</div>

<!-- Page Content -->
<div id="content" class="d-flex justify-content-center align-content-stretch flex-grow-1">
  <router-outlet></router-outlet>
</div>

