<div class="modal-content">
  <div class="modal-header title-bar">
    <h2 class="modal-title">Ajouter une fermeture exceptionelle</h2>
    <button type="button" class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body exceptional-times-content">
    <form class="exceptional-closing-day-form" (ngSubmit)="onSubmit()">
      <label for="exceptional-closing-day" class="my-2">Jour:
      </label>
      <input type="date" id="exceptional-closing-day"
             name="exceptional-closing-day"
             [(ngModel)]="this.selectedDay"/>
      <button class="btn-submit btn btn-simple my-2" type="submit">
        Ajouter
      </button>
    </form>
  </div>
  <div class="modal-footer d-flex justify-content-end">
    <button type="button" class="btn btn-secondary" (click)="close()">Fermer</button>
  </div>
</div>
