<div class="ac-management-container">
  <h3 class="ac-management-title">Soins</h3>
  <div class="btn-container">
    <button class="create-ac-btn btn btn-simple" (click)="createAC()">Créer un soin</button>
  </div>
  <div class="acs-container generic-card">
    <div class="header-shadow ac-row border-bottom p-2">
      <div style="text-align: left">
        <span class="text-bold">Nom</span>
      </div>
      <div style="text-align: center">
        <span class="text-bold">Durée</span>
      </div>
      <div style="text-align: right">
        <span class="text-bold">Prix</span>
      </div>
    </div>
    <div class="all-acs">
      <div class="ac-row border-bottom basic-row p-2" (click)="updateAC(ac)" *ngFor="let ac of acs">
        <div style="text-align: left">
          <span class="text-bold">{{ac.name}}</span>
        </div>
        <div style="text-align: center">
          <span>{{ac.timeExecution}} minutes</span>
        </div>
        <div style="text-align: right">
          <span>{{ac.price}} €</span>
        </div>
      </div>
    </div>
  </div>
</div>
