.client-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.add-client-card {
  flex: 0 1 auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.file-input {
  display: none;
}

.file-upload {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.client-cards-content {
  flex: 1 0 500px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 45px;

  overflow: overlay;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.client-card-image {
  width: 100%;
}

.remove-client-card-btn:after {
  display: inline-block;
  content: "\00d7";
}
