/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~material-icons/iconfont/material-icons.css';

body, html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

hr:not([size]) {
  height: 1px;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: black;
  border: 0;
  opacity: .25;
}

.big-modal {
  max-width: 85%;
  height: 90%;
}

.medium-modal {
  max-width: 45%;
  height: 60%;
}

.alert {
  font-weight: bold;
}

.text-success {
  color: #4ab42c;
}

.text-fail {
  color: red;
}
