/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~material-icons/iconfont/material-icons.css';
@import "styles/client-self-navigation.css";
@import "styles/color-pallette.css";

* {
  font-family: Roboto, sans-serif;
}

body, html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

hr:not([size]) {
  height: 1px;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: black;
  border: 0;
  opacity: .25;
}

.big-modal {
  max-width: 85%;
  height: 90%;
}

.medium-modal {
  max-width: 45%;
  height: 60%;
}

.alert, .text-bold {
  font-weight: bold;
}

.text-success {
  color: #4ab42c;
}

.text-fail {
  color: red;
}

.border-bottom-separator {
  border-bottom: 1px solid #adacac;
}

.clean-border {
  border: 2px solid #adacac;
}

.clean-border-top {
  border-top: 2px solid #adacac;
}

.clean-border-bottom {
  border-bottom: 2px solid #adacac;
}

.clean-border-right {
  border-right: 2px solid #adacac;
}

.clean-border-left {
  border-left: 2px solid #adacac;
}

.clean-border-dashed {
  border-left: 2px dashed #adacac;
}

.clean-border-dashed-top {
  border-top: 2px dashed #adacac;
}

.clean-border-dashed-bottom {
  border-bottom: 2px dashed #adacac;
}

.clean-border-dashed-right {
  border-right: 2px dashed #adacac;
}

.clean-border-dashed-left {
  border-left: 2px dashed #adacac;
}

.client-wr-buttons {
  display: flex;
  justify-content: space-between;
}

.modal + .modal {
  background: rgba(0, 0, 0, 0.6);
}

.client-home, .client-take-appointment, .client-self-registration {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.client-search-component {
  display: flex;
  justify-content: flex-start;
}

.client-products {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.client-packages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.client-bundle-row {
  display: grid;
  grid-template: 100% / 20% 20% 20% 20% 20%;
}

.client-aesthetic-cares {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.client-aesthetic-care-row {
  display: grid;
  grid-template: 100% / 1fr 1fr 1fr 1fr 1fr;
}

.client-information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.agenda-per-technician {
  display: grid;
  grid-template: 5% 95%/ 100%;
}

.agenda-choose-date {
  display: grid;
  grid-template: 100% / 5% 90% 5%;
}

.notification-simple-filter {
  display: flex;
  justify-content: flex-start;
}

.notification-tab {
  display: flex;
  justify-content: flex-start;
}

.client-specific-info, .client-general-info, .client-payments, .client-appointments, .client-purchases, .product-management,
.aesthetic-care-management, .package-management {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product-management {
  flex: 1 0 auto;
}
